<div fxLayoutAlign="center center" *ngIf="!book; else divBook">
  <mat-spinner></mat-spinner>
</div>

<ng-template #divBook>
  <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center center">
    <div fxFlex="50%">
      <mat-card style="margin-top: 20px;">
        <mat-card-header>
          <mat-card-title>{{ book.title }}</mat-card-title>
          <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
        </mat-card-header>

        <img style="display: flex; align-items: center; justify-content: center; margin: 0 auto;" height="100" width="100" src="assets/narracion.png" alt="" />

        <mat-card-content>
          <h3>{{ book.published }}</h3>
          <p>
            <strong>Genre:</strong>
            {{ book.genre }}
            <br />

            <strong>Stock: </strong>
            {{ book.stock }}
          </p>
        </mat-card-content>

        <mat-card-actions>
          <button (click)="regresar()" mat-button color="warn">Back</button>

          <button (click)="openDialog()" mat-button color="warn">
            Reserve
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</ng-template>
