<div fxLayout="row" fxLayoutAlign="center center" class="general-container">
    <div class="row-height" fxLayoutAlign="space-evenly stretch" class="tabsheader">

    </div>
    <mat-tab-group fxFlex="90%" #tab dynamicHeight [selectedIndex]="selectedIndex">
        <mat-tab label="Register book">
            <div fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="start center" class="bgsoftColor">
                <div fxFlex fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="center stretch" fxFlexFill
                    style="padding-top: 5rem; padding-bottom: 5rem;">
                    <div fxLayout="row" fxLayoutGap="0px" fxLayoutAlign="space-between stretch" class="section-3"
                        ngClass.lt-lg="content">
                        <div fxFlexFill class="">
                            <mat-card class="mat-fixed-card mat-elevation-z3 general-card">
                                <mat-card-header>
                                    <div mat-card-avatar>
                                        <mat-icon aria-hidden="false" aria-label="Done" class="primaryColor">
                                            book</mat-icon>
                                    </div>
                                    <mat-card-title>
                                        Book
                                    </mat-card-title>
                                    <mat-card-subtitle> </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <!--              Here will go the table-->
                                    <form [formGroup]="registerForm" (ngSubmit)="register()" class="example-container"
                                        autocomplete="off">
                                        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="start center">
                                            <div fxFlex="100%">

                                            </div>
                                        </div>
                                        <mat-divider></mat-divider>
                                        <br />






                                        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px"
                                            fxLayoutGap.lt-sm="0px" fxLayoutAlign="start center"
                                            fxLayoutAlign="start stretch">
                                            <div fxFlex="calc(50% - 10px)" fxFlex.lt-sm="auto">
                                                <mat-form-field appearance="outline" style="width:
                        100%">
                                                    <mat-label>title</mat-label>
                                                    <input matInput type="text" name="title" placeholder="Title"
                                                        formControlName="title" required="required" />

                                                        <mat-error *ngIf="errorHandling('title', 'required')">
                                                            The <strong>title</strong> is required.
                                                         </mat-error>
                                                </mat-form-field>
                                            </div>

                                        </div>

                                        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px"
                                            fxLayoutGap.lt-sm="0px" fxLayoutAlign="start center"
                                            fxLayoutAlign="start stretch">
                                            <div fxFlex="100%" fxFlex.lt-sm="auto">

                                                <div fxFlex="calc(50% - 10px)" fxFlex.lt-sm="auto">
                                                    <mat-form-field appearance="outline" style="width:
                            100%">
                                                        <mat-label>author</mat-label>
                                                        <input  formControlName="author" matInput required="required" placeholder="Author">

                                                        <mat-error *ngIf="errorHandling('author', 'required')">
                                                            the <strong>author</strong> is required.
                                                         </mat-error>
                                                    </mat-form-field>
                                                </div>

                                            </div>
                                            <div fxFlex="100%" fxFlex.lt-sm="auto">

                                                <div fxFlex="calc(50% - 10px)" fxFlex.lt-sm="auto">
                                                    <mat-form-field appearance="fill">
                                                        <mat-label>Choose a date</mat-label>
                                                        <input formControlName="published"  matInput [matDatepicker]="picker">
                                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                        <mat-datepicker #picker></mat-datepicker>
                                                      </mat-form-field>
                                                    <!-- <mat-form-field appearance="outline" style="width:
                            100%">
                                                        <mat-label>published</mat-label>
                                                        <input formControlName="published" matInput required="required" placeholder="Published">
                                                        <mat-error *ngIf="errorHandling('published', 'required')">
                                                            The <strong>published</strong> is required.
                                                         </mat-error>
                                                    </mat-form-field> -->
                                                </div>

                                            </div>

                                        </div>

                                        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px"
                                            fxLayoutGap.lt-sm="0px" fxLayoutAlign="start center"
                                            fxLayoutAlign="start stretch">
                                            <div fxFlex="calc(50% - 10px)" fxFlex.lt-sm="auto">
                                                <mat-form-field appearance="outline" style="width:
                        100%">
                                                    <mat-label>genre</mat-label>
                                                    <input matInput type="text" name="title" placeholder="Genre"
                                                        formControlName="genre" required="required" />
                                                        <mat-error *ngIf="errorHandling('genre', 'required')">
                                                            The <strong>genre</strong> is required.
                                                         </mat-error>
                                                </mat-form-field>
                                            </div>

                                        </div>

                                        <div fxLayout="row" fxLayoutGap="1%" fxLayoutAlign="start
                        center">
                                            <div fxFlex="100%">
                                                <mat-form-field appearance="outline" style="width:
                            100%">
                                                    <mat-label>stock</mat-label>
                                                    <input matInput type="number" name="title"
                                                        placeholder="Stock"
                                                        formControlName="stock" required="required" />
                                                        <mat-error *ngIf="errorHandling('stock', 'required')">
                                                        The <strong>stock </strong> is required.
                                                         </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                              



                                        <hr style="margin-bottom: 20px;">

                                        <br fxHide.gt-xs="true" />


                                        <mat-card-actions >
                                            <button *ngIf="!isLod" mat-raised-button cdkFocusInitial>
                                                Cancel
                                            </button>

                                            <div  *ngIf="isLod" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px"
                                            fxLayoutGap.lt-sm="0px" fxLayoutAlign="center center"
                                            fxLayoutAlign="center stretch">

                                            <img  width="50px" height="50px" src="assets/test.svg" alt="">
                                          
                                        </div>

                                            <button *ngIf="!isLod" type="submit" mat-raised-button color="primary">
                                                Register
                                            </button>
                                        </mat-card-actions>
                                    </form>
                                </mat-card-content>

                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>

    </mat-tab-group>
</div>