
table {
    width: 100%;
    table-layout: fixed;
  }
  
  th, td {
    overflow: hidden;
    width:auto;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
   
  .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
  }
   
  .mat-row,
  .mat-header-row {
    display: table-row;
  }
   
  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
  td, th {
    text-align: center !important;
    vertical-align: middle !important;
  }
  
  .mat-sort-header-container {
    justify-content: center !important;
  }
  