<div fxLayout="row" fxLayoutAlign="center center" class="general-container">
    <div class="row-height" fxLayoutAlign="space-evenly stretch" class="tabsheader">


    </div>
    <mat-tab-group fxFlex="90%" #tab dynamicHeight>
        <mat-tab label="All  books" style="text-align: center !important;">
            <div fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="start center" class="bgsoftColor">
                <div fxFlex fxLayout="column" fxLayoutGap="0px" fxLayoutAlign="center stretch" fxFlexFill
                    style="padding-top: 5rem; padding-bottom: 5rem">
                    <div fxLayout="row" fxLayoutGap="0px" fxLayoutAlign="space-between stretch" class="section-3"
                        ngClass.lt-lg="content">
                        <div fxFlexFill class="">
                            <mat-card class="mat-fixed-card mat-elevation-z3 general-card">
                                <mat-card-header>
                                    <div mat-card-avatar>
                                        <mat-icon aria-hidden="false" aria-label="Done" class="primaryColor">
                                            cases
                                        </mat-icon>
                                    </div>
                                    <mat-card-title> Books </mat-card-title>
                                    <mat-card-subtitle> </mat-card-subtitle>
                                </mat-card-header>
                                <mat-card-content>
                                    <button mat-button color="primary" class="btnPrimary"
                                        [routerLink]="'/books/register'">
                                        Create Book
                                    </button>

                          
                                        <input MatInput (keyup)="Filter($event)"   placeholder="Search">
                                    
                              
                                    <div class="mat-elevation-z0 table-responsive mt-1">
                                        <table mat-table matSort [dataSource]="dataSource" class="action-table">
                                            <ng-container matColumnDef="title">
                                                <th mat-header-cell fxFlex="auto" fxLayout="row"
                                                    fxLayoutAlign="start center" *matHeaderCellDef mat-sort-header>
                                                    title
                                                </th>
                                                <td mat-cell fxFlex="auto" fxLayout="row" fxLayoutAlign="start center"
                                                    *matCellDef="let row" data-label="title">
                                                    {{ row.title | slice:0:15 }}...
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="author">
                                                <th mat-header-cell fxFlex="auto" fxLayout="row"
                                                    fxLayoutAlign="start center" *matHeaderCellDef mat-sort-header>
                                                    author
                                                </th>
                                                <td mat-cell fxFlex="auto" fxLayout="row" fxLayoutAlign="start center"
                                                    *matCellDef="let row" data-label="author">
                                                    {{ row.author    }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="published">
                                                <th mat-header-cell fxFlex="auto" fxLayout="row"
                                                    fxLayoutAlign="start center" *matHeaderCellDef mat-sort-header>
                                                    published
                                                </th>
                                                <td mat-cell fxFlex="auto" fxLayout="row" fxLayoutAlign="start center"
                                                    *matCellDef="let row" data-label="published">
                                                    {{ row.published  | date }}
                                                </td>
                                            </ng-container>

                                            <ng-container matColumnDef="genre">
                                                <th mat-header-cell fxFlex="auto" fxLayout="row"
                                                    fxLayoutAlign="start center" *matHeaderCellDef mat-sort-header>
                                                    genre
                                                </th>
                                                <td mat-cell fxFlex="auto" fxLayout="row" fxLayoutAlign="start center"
                                                    *matCellDef="let row" data-label="genre">
                                                    {{ row.genre }}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="stock">
                                                <th mat-header-cell fxFlex="auto" fxLayout="row"
                                                    fxLayoutAlign="start center" *matHeaderCellDef mat-sort-header>
                                                    stock
                                                </th>
                                                <td mat-cell fxFlex="auto" fxLayout="row" fxLayoutAlign="start center"
                                                *matCellDef="let row" data-label="stock">
                                                {{ row.stock }}
                                            </td>
                                            </ng-container>

                                       

                                            <ng-container matColumnDef="options">
                                                <th mat-header-cell fxFlex="auto" fxLayout="row"
                                                    fxLayoutAlign="end center" *matHeaderCellDef mat-sort-header>
                                                    Acciones</th>
                                           
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                                        </table>
                                        <mat-paginator #paginator [pageSizeOptions]="[25, 100, 200]"
                                            showFirstLastButtons></mat-paginator>
                                    </div>
                                </mat-card-content>
                                <mat-card-actions align="end"> </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>