<div fxLayout="row" fxLayoutAlign="center center" class="general-container">
  <div
    class="row-height"
    fxLayoutAlign="space-evenly stretch"
    class="tabsheader"
  ></div>
  <mat-tab-group fxFlex="90%" #tab dynamicHeight>
    <mat-tab label="All reservations">
      <div
        fxLayout="column"
        fxLayoutGap="0px"
        fxLayoutAlign="start center"
        class="bgsoftColor"
      >
        <div
          fxFlex
          fxLayout="column"
          fxLayoutGap="0px"
          fxLayoutAlign="center stretch"
          fxFlexFill
          style="padding-top: 5rem; padding-bottom: 5rem"
        >
          <div
            fxLayout="row"
            fxLayoutGap="0px"
            fxLayoutAlign="space-between stretch"
            class="section-3"
            ngClass.lt-lg="content"
          >
            <div fxFlexFill class="">
              <mat-card class="mat-fixed-card mat-elevation-z3 general-card">
                <mat-card-header>
                  <div mat-card-avatar>
                    <mat-icon
                      aria-hidden="false"
                      aria-label="Done"
                      class="primaryColor"
                    >
                      dashboard
                    </mat-icon>
                  </div>
                  <mat-card-title> Reservations </mat-card-title>
                  <mat-card-subtitle> </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <div class="mat-elevation-z0 table-responsive mt-1">
                    <table
                      mat-table
                      matSort
                      [dataSource]="dataSource"
                      class="action-table"
                    >
                      <ng-container matColumnDef="book">
                        <th
                          mat-header-cell
                          fxFlex="auto"
                          fxLayout="row"
                          fxLayoutAlign="start center"
                          *matHeaderCellDef
                          mat-sort-header
                        >
                          book
                        </th>
                        <td
                          mat-cell
                          fxFlex="auto"
                          fxLayout="row"
                          fxLayoutAlign="start center"
                          *matCellDef="let row"
                          data-label="book"
                        >
                          {{ row.book.title | slice: 0:15 }}...
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="user">
                        <th
                          mat-header-cell
                          fxFlex="auto"
                          fxLayout="row"
                          fxLayoutAlign="start center"
                          *matHeaderCellDef
                          mat-sort-header
                        >
                          user
                        </th>
                        <td
                          mat-cell
                          fxFlex="auto"
                          fxLayout="row"
                          fxLayoutAlign="start center"
                          *matCellDef="let row"
                          data-label="user"
                        >
                          {{ row.user.name }}
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="state">
                        <th
                          mat-header-cell
                          fxFlex="auto"
                          fxLayout="row"
                          fxLayoutAlign="start center"
                          *matHeaderCellDef
                          mat-sort-header
                        >
                          state
                        </th>
                        <td
                          mat-cell
                          fxFlex="auto"
                          fxLayout="row"
                          fxLayoutAlign="start center"
                          *matCellDef="let row"
                          data-label="state"
                        >
                        
                          <mat-chip style="padding: 5px; border-radius: 5px;"
                            selected
                            [color]="row.state == 'returned' ? 'primary' : 'none'"
                          >
                            {{ row.state }}
                          </mat-chip>
                        </td>
                      </ng-container>

                      <ng-container matColumnDef="options">
                        <th
                          mat-header-cell
                          fxFlex="auto"
                          fxLayout="row"
                          fxLayoutAlign="end center"
                          *matHeaderCellDef
                          mat-sort-header
                        >
                          Acciones
                        </th>
                        <td
                          mat-cell
                          fxFlex="auto"
                          fxLayout="row"
                          fxLayoutAlign="end center"
                          *matCellDef="let row"
                        >
                          <button
                            mat-button
                            color="secondary"
                            [matMenuTriggerFor]="options"
                          >
                            Opciones
                          </button>
                          <mat-menu #options="matMenu">
                            <button
                              (click)="openDialog(row)"
                              type="button"
                              mat-menu-item
                            >
                              returned
                            </button>
                          </mat-menu>
                        </td>
                      </ng-container>

                      <tr
                        mat-header-row
                        *matHeaderRowDef="displayedColumns"
                      ></tr>
                      <tr
                        mat-row
                        *matRowDef="let row; columns: displayedColumns"
                      ></tr>
                    </table>
                    <mat-paginator
                      #paginator
                      [pageSizeOptions]="[25, 100, 200]"
                      showFirstLastButtons
                    ></mat-paginator>
                  </div>
                </mat-card-content>
                <mat-card-actions align="end"> </mat-card-actions>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
