<mat-card style="margin-bottom: 20px;">
  <mat-card-header>
    <mat-card-title>{{ book.title }}</mat-card-title>
    <mat-card-subtitle>{{ book.author }}</mat-card-subtitle>
  </mat-card-header>

  <img style="display: flex; align-items: center; justify-content: center; margin: 0 auto;" height="100" width="100" src="assets/narracion.png" alt="" />

  <mat-card-content>
    <h3 style="margin-top: 10px;">{{ book.published }}</h3>
    <p>
      <strong>Genre: </strong>
      {{ book.genre }}
      <br />

      <strong style="margin-top: 10px;">Stock: </strong>
      {{ book.stock }}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button [routerLink]="['/library', book._id]" mat-button color="warn">
      Read more...
    </button>
  </mat-card-actions>
</mat-card>
