.m-0 {
    margin: 0 !important;
  }
  .m-1 {
    margin: calc(1rem * 0.25) !important;
  }
  .m-2 {
    margin: calc(1rem * 0.5) !important;
  }
  .m-3 {
    margin: calc(1rem) !important;
  }
  .m-4 {
    margin: calc(1rem * 1.5) !important;
  }
  .m-5 {
    margin: calc(1rem * 3) !important;
  }
   
  .mt-0 {
    margin-top: 0 !important;
  }
  .mt-1 {
    margin-top: calc(1rem * 0.25) !important;
  }
  .mt-2 {
    margin-top: calc(1rem * 0.5) !important;
  }
  .mt-3 {
    margin-top: calc(1rem) !important;
  }
  .mt-4 {
    margin-top: calc(1rem * 1.5) !important;
  }
  .mt-5 {
    margin-top: calc(1rem * 3) !important;
  }
   
  .mb-0 {
    margin-bottom: 0 !important;
  }
  .mb-1 {
    margin-bottom: calc(1rem * 0.25) !important;
  }
  .mb-2 {
    margin-bottom: calc(1rem * 0.5) !important;
  }
  .mb-3 {
    margin-bottom: calc(1rem) !important;
  }
  .mb-4 {
    margin-bottom: calc(1rem * 1.5) !important;
  }
  .mb-5 {
    margin-bottom: calc(1rem * 3) !important;
  }
   
  .ms-0 {
    margin-left: 0 !important;
  }
  .ms-1 {
    margin-left: calc(1rem * 0.25) !important;
  }
  .ms-2 {
    margin-left: calc(1rem * 0.5) !important;
  }
  .ms-3 {
    margin-left: calc(1rem) !important;
  }
  .ms-4 {
    margin-left: calc(1rem * 1.5) !important;
  }
  .ms-5 {
    margin-left: calc(1rem * 3) !important;
  }
   
  .me-0 {
    margin-right: 0 !important;
  }
  .me-1 {
    margin-right: calc(1rem * 0.25) !important;
  }
  .me-2 {
    margin-right: calc(1rem * 0.5) !important;
  }
  .me-3 {
    margin-right: calc(1rem) !important;
  }
  .me-4 {
    margin-right: calc(1rem * 1.5) !important;
  }
  .me-5 {
    margin-right: calc(1rem * 3) !important;
  }
   
  .mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .mx-1 {
    margin-left: calc(1rem * 0.25) !important;
    margin-right: calc(1rem * 0.25) !important;
  }
  .mx-2 {
    margin-left: calc(1rem * 0.5) !important;
    margin-right: calc(1rem * 0.5) !important;
  }
  .mx-3 {
    margin-left: calc(1rem) !important;
    margin-right: calc(1rem) !important;
  }
  .mx-4 {
    margin-left: calc(1rem * 1.5) !important;
    margin-right: calc(1rem * 1.5) !important;
  }
  .mx-5 {
    margin-left: calc(1rem * 3) !important;
    margin-right: calc(1rem * 3) !important;
  }
   
  .my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
  .my-1 {
    margin-top: calc(1rem * 0.25) !important;
    margin-bottom: calc(1rem * 0.25) !important;
  }
  .my-2 {
    margin-top: calc(1rem * 0.5) !important;
    margin-bottom: calc(1rem * 0.5) !important;
  }
  .my-3 {
    margin-top: calc(1rem) !important;
    margin-bottom: calc(1rem) !important;
  }
  .my-4 {
    margin-top: calc(1rem * 1.5) !important;
    margin-bottom: calc(1rem * 1.5) !important;
  }
  .my-5 {
    margin-top: calc(1rem * 3) !important;
    margin-bottom: calc(1rem * 3) !important;
  }
   
  .p-0 {
    padding: 0 !important;
  }
  .p-1 {
    padding: calc(1rem * 0.25) !important;
  }
  .p-2 {
    padding: calc(1rem * 0.5) !important;
  }
  .p-3 {
    padding: calc(1rem) !important;
  }
  .p-4 {
    padding: calc(1rem * 1.5) !important;
  }
  .p-5 {
    padding: calc(1rem * 3) !important;
  }
   
  .pt-0 {
    padding-top: 0 !important;
  }
  .pt-1 {
    padding-top: calc(1rem * 0.25) !important;
  }
  .pt-2 {
    padding-top: calc(1rem * 0.5) !important;
  }
  .pt-3 {
    padding-top: calc(1rem) !important;
  }
  .pt-4 {
    padding-top: calc(1rem * 1.5) !important;
  }
  .pt-5 {
    padding-top: calc(1rem * 3) !important;
  }
   
  .pb-0 {
    padding-bottom: 0 !important;
  }
  .pb-1 {
    padding-bottom: calc(1rem * 0.25) !important;
  }
  .pb-2 {
    padding-bottom: calc(1rem * 0.5) !important;
  }
  .pb-3 {
    padding-bottom: calc(1rem) !important;
  }
  .pb-4 {
    padding-bottom: calc(1rem * 1.5) !important;
  }
  .pb-5 {
    padding-bottom: calc(1rem * 3) !important;
  }
   
  .ps-0 {
    padding-left: 0 !important;
  }
  .ps-1 {
    padding-left: calc(1rem * 0.25) !important;
  }
  .ps-2 {
    padding-left: calc(1rem * 0.5) !important;
  }
  .ps-3 {
    padding-left: calc(1rem) !important;
  }
  .ps-4 {
    padding-left: calc(1rem * 1.5) !important;
  }
  .ps-5 {
    padding-left: calc(1rem * 3) !important;
  }
   
  .pe-0 {
    padding-right: 0 !important;
  }
  .pe-1 {
    padding-right: calc(1rem * 0.25) !important;
  }
  .pe-2 {
    padding-right: calc(1rem * 0.5) !important;
  }
  .pe-3 {
    padding-right: calc(1rem) !important;
  }
  .pe-4 {
    padding-right: calc(1rem * 1.5) !important;
  }
  .pe-5 {
    padding-right: calc(1rem * 3) !important;
  }
   
  .px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .px-1 {
    padding-left: calc(1rem * 0.25) !important;
    padding-right: calc(1rem * 0.25) !important;
  }
  .px-2 {
    padding-left: calc(1rem * 0.5) !important;
    padding-right: calc(1rem * 0.5) !important;
  }
  .px-3 {
    padding-left: calc(1rem) !important;
    padding-right: calc(1rem) !important;
  }
  .px-4 {
    padding-left: calc(1rem * 1.5) !important;
    padding-right: calc(1rem * 1.5) !important;
  }
  .px-5 {
    padding-left: calc(1rem * 3) !important;
    padding-right: calc(1rem * 3) !important;
  }
   
  .py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  .py-1 {
    padding-top: calc(1rem * 0.25) !important;
    padding-bottom: calc(1rem * 0.25) !important;
  }
  .py-2 {
    padding-top: calc(1rem * 0.5) !important;
    padding-bottom: calc(1rem * 0.5) !important;
  }
  .py-3 {
    padding-top: calc(1rem) !important;
    padding-bottom: calc(1rem) !important;
  }
  .py-4 {
    padding-top: calc(1rem * 1.5) !important;
    padding-bottom: calc(1rem * 1.5) !important;
  }
  .py-5 {
    padding-top: calc(1rem * 3) !important;
    padding-bottom: calc(1rem * 3) !important;
  }
   
  .br-0 {
    border-radius: 0px !important;
  }
   
  .br {
    border-radius: 4px;
  }
   
  .brt {
    border-radius: 4px 4px 0px 0px;
  }
   
  .brb {
    border-radius: 0px 0px 4px 4px;
  }
   
  .brs {
    border-radius: 4px 0px 0px 4px;
  }
   
  .bre {
    border-radius: 0px 4px 4px 0px;
  }

 
.text-align-left {
  text-align: left;
}
 
.text-align-right {
  text-align: right;
}
 
.text-align-center {
  text-align: center;
}
 
.text-align-justify {
  text-align: justify;
}
 
.font-size-large {
  font-size: 4em;
}
 
.font-size-medium {
  font-size: 2.5em;
}
 
.font-size-short {
  font-size: 0.75em;
}
 
.font-style-italic {
  font-style: italic;
}
 
.text-shadow {
  text-shadow: 1px 1px 2px rgba(21, 19, 19, 0.823);
}
 
.font-weight-bold {
  font-weight: bold;
}
 
.font-weight-bolder {
  font-weight: bolder;
}
 
.font-weight-lighter {
  font-weight: lighter;
}
 
.text-transform-uppercase {
  text-transform: uppercase;
}
 
.text-transform-lowercase {
  text-transform: lowercase;
}
 
.text-transform-capitalize {
  text-transform: capitalize;
}

.anuncio {
  font-size: 22px;
}
 
.bg-card-start {
   background-image: url('/assets/book.svg');
   background-position: bottom right; /* Center the image */
   background-repeat: no-repeat; /* Do not repeat the image */
   background-size: contain; 
   background-size: 300px 300px;

  }
   
  .bg-card-01 {
    background-color: #7b1fa2;
    background-image: url('src/assets/narracion.png');
    background-position: bottom right;
    background-repeat: no-repeat; 
    background-size: 80px; 
  }
   
  .bg-card-02 {
    background-color: #7b1fa2;
    background-image: url('src/assets/reserved.png');
    background-position: bottom right; 
    background-repeat: no-repeat;
    background-size: 80px;
  }
  
  @media all and (max-width: 959px) {
    .bg-card-start {
      background-size: 118px; 
    }
  }
   
   
  